[AI_CORE]
NAME = "F.R.I.D.A.Y"
GENDER = 'F'
BRAIN_FILEPATH = "/usr/local/include/AUTOME_AI/MODULES/CHAT_BOT/v1/.dump/CHAT_AI-BRAIN/STATIC-BRAIN-BUILD/STANDARD-CORE-BRAIN.dump"
BRAIN_BUILD_XML_FILEPATH = "/usr/local/include/AUTOME_AI/MODULES/CHAT_BOT/v1/.dump/CHAT_AI-BRAIN/XML/STANDARD-CORE-BRAIN-DUMP-BUILD.aiml"
BRAIN_LOAD_COMMAND = "LOAD STANDARD CORE AIML BRAIN"
