[ALL CONTROLLER]
COMMANDS = ("GET STATUS OF")


[BEDROOM CONTROLLER]
COMMANDS = ("GET STATUS OF", "TURN ON LIGHT OF", "GET HUMIDITY STATUS OF", "GET TEMPERATURE STATUS OF", "GET PERSON COUNT OF")

[KITCHEN CONTROLLER]
COMMANDS = ("GET STATUS OF", "TURN ON LIGHT OF", "GET HUMIDITY STATUS OF", "GET TEMPERATURE STATUS OF", "GET PERSON COUNT OF")